label {
  display: block;
  margin-bottom: 9px;
  margin-left: 30px;

}
#course,#know,#know1,#know2{
  margin-left: 30px;
  background-color: #d7d8cd;

}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="textarea"] {
  width: 200px;
  padding: 7px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #d7d8cd;

}
#check{
  background-color: #d7d8cd;
  margin-left: 200px;
}

button {
  padding:  10px 90px;
  margin-left: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #265262;
  color: #b1bbc2;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(160, 177, 218, 0.6);
  
}
body {
  background: url(background.jpg) no-repeat;
  align-items: center;
  justify-content: center;
  display: flex; 
  background-position: center;
  background-size: cover;

}
 #registrationForm {
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
